.shipping-list{
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
}

.shipping-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.shipping-list::-webkit-scrollbar-track {
    background: #f5f5f5;
}
.shipping-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color:#9f9e9e ;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loading svg{
    width: 36px;
    height: 36px;
}
